<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mny.wan.im">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="getui.permission.GetuiService.${applicationId}" />

    <permission
        android:name="getui.permission.GetuiService.${applicationId}"
        android:protectionLevel="normal" />

    <application>

        <activity
            android:name="com.mny.wan.im.presentation.debug.DebugActivity"
            android:label="@string/title_activity_debug" />
        <activity
            android:name="com.mny.wan.im.presentation.group.GroupMemberActivity"
            android:label="@string/title_member_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransStatusBar" />
        <activity
            android:name="com.mny.wan.im.presentation.group.GroupCreateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Group.Create" />
        <activity
            android:name="com.mny.wan.im.presentation.message.MessageActivity"
            android:theme="@style/AppTheme.Message" />
        <activity android:name="com.mny.wan.im.presentation.personal.PersonalActivity" />
        <activity
            android:name="com.mny.wan.im.presentation.search.SearchActivity"
            android:label="@string/title_search"
            android:theme="@style/AppTheme.TransStatusBar" />
        <activity android:name="com.mny.wan.im.presentation.user.UserActivity" />
        <activity
            android:name="com.mny.wan.im.presentation.account.AccountActivity"
            android:theme="@style/AppTheme.Account" />
        <activity
            android:name="com.mny.wan.im.presentation.main.MainActivity"
            android:label="测试"
            android:theme="@style/AppTheme.Main" />
<!--        <activity-->
<!--            android:name=".presentation.SplashActivity"-->
<!--            android:theme="@style/AppTheme.TransStatusBar">-->
<!--        </activity>-->
        <activity android:name="com.mny.wan.im.presentation.login.LoginActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="com.mny.wan.im.app.DemoConfig"
            android:value="ModuleConfig" /> <!-- 用户自定义服务继承自GTIntentService,作为SDK与APP桥梁服务,用来接收各种消息和命令回复 -->
        <service
            android:name="com.mny.wan.im.gt.GeTuiIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" /> <!-- 用户自定义服务名 -->
        <service
            android:name="com.mny.wan.im.gt.GtPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice" /> <!-- 个推的广播注册 -->
        <receiver
            android:name="com.mny.wan.im.gt.GTMessageReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="1000">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.${GETUI_APP_ID}" />
            </intent-filter>
        </receiver>
    </application>

</manifest>